<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{name}} Dishes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"> </script>
  <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"> </script>
  <script src"//code.jquery.com/jquery-1.11.3.min.js"> </script>
  <script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
  </script>
</head>
<body>

<div class="container">
  <h2>{{name}}</h2>
  <p>
    <img src='{{pic}}' alt="Pic" style="float:right;width:300;height:150px;">
    Check out these popular (or not-so-popular) dishes!
  </p>
  <!-- <table class="table table-hover"> -->
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Dish</th>
        <th>Menu</th>
        <th>Course</th>
        <th>Score</th>
        <th>Buzz</th>
      </tr>
    </thead>
    <tbody>
      {% for index, i in dishes.iteritems() %}
      <tr>
        <td>{{i.Dish}}</td>
        <td>{{i.Meal}}</td>
        <td>{{i.Course}}</td>
        <td>{{i.Score}}</td>
        <td>{{i.Tot_Reviews}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
